body {
    margin: 0;
    font-family: 'Orienta', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
    background: #1876f2;
    color: #FFFFFF;
    border-radius: 10px;
}

.spanTitle {
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-size: 18px;
    line-height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: italic;
}
