body {
    margin: 0;
    font-family: 'Orienta', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
    background: #1876f2;
    color: #FFFFFF;
    border-radius: 10px;
}

.spanTitle {
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-size: 18px;
    line-height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: italic;
}

/* внешние границы таблицы */
table {
    border: 1px solid grey;
    width: 400px;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 10px;
}

/* границы ячеек первого ряда таблицы */
th {
    border: 1px solid grey;
}

/* границы ячеек тела таблицы */
td {
    border: 1px solid grey;
}
/*Размеры для десятой домашки */
.HW10 {
    height: 60px;
}
.HW13 {
    display: flex;
    align-items: center;
}